body{
    background-color: FFDCB9;
}

.logo{
    height: 250px;
    width: 250px;
}

#navbar{
    overflow: hidden;
    background-color: #4C4C4C;
    padding: 30px;

}

#navbar a{
    color: white;
    text-align: center;
    padding: 40px 40px;
    font-size: 18px;
}

#navbar a:hover{
    background-color: #6A6A6A;
    color: #FFDCB9;
}

.section-1{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-2{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-3{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-1{
    
    width: 800px;
    padding: 10px;
    margin: 10px;
}

.image-2{
    
    width: 800px;
    padding: 10px;
    margin: 10px;
}

.image-3{
    
    width: 800px;
    padding: 10px;
    margin: 10px;
}

.text-1{
    display: flex;
    text-align: center;
    margin-right: 40%;
}