body{
    background-color: #FFDCB9;
}

.logo{
    height: 100px;
    width: 100px;
}


#navbar{
    overflow: hidden;
    background-color: #B09A85;
    padding: 30px;

}

#navbar a{
    color: white;
    text-align: center;
    padding: 40px 40px;
    font-size: 18px;
}

#navbar a:hover{
    background-color: #6A6A6A;
    color: #FFDCB9;
}

.main-content{
    padding: 15px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .main-content{
    padding-top: 60px;
}

body{
    margin: 0;
}

.section-1{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-2{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-3{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-1{
    
    width: 800px;
    padding: 5px;
    margin: 5px;
}

.image-2{
    
    width: 800px;
    padding: 5px;
    margin: 5px;
}

.image-3{
    
    width: 800px;
    padding: 5px;
    margin: 5px;
}

.text-1{
    display: flex;
    text-align: left;
    margin-right: 25%;
    margin-top: 20%
}